<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form action="/images/add" method="POST" enctype="multipart/form-data">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="image title"
              required
            />
          </div>
          <div class="input-group mb-3">
            <textarea
              name="description"
              id=""
              class="form-control"
              placeholder="decription"
              required
            ></textarea>
          </div>
          <div class="mb-3 form-label">

            <input
              class="form-control"
              type="file"
              name="image"
              id="formFile"
              required
            />
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" value="Upload photo" class="btn btn-outline-primary" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each photos}}
        <tr>
          <th>{{title}}</th>
          <th>{{description}}</th>
          <th>
            <a href="{{imageURL}}" class="btn btn-primary" target="_blank"><i class="bi bi-file-image"></i></a>
            <a href="/image/delete/{{_id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
          </th>
        </tr>
        {{/each}}
      </tbody>
</table>
  </div>
</div>